imutils
joblib
mahotas
matplotlib
numpy
opencv_python
pandas
pyefd
scikit_learn
scipy
scikit-image
tqdm
GPmix
plotly
umap-learn
torch==2.6.0+cu126
torchvision==0.21.0+cu126
--extra-index-url https://download.pytorch.org/whl/test/cu126
pymanopt
autograd
sympy
rbf
e2cnn
torchgeometry

