imutils==0.5.4
joblib==1.4.2
mahotas==1.4.18
matplotlib==3.10.1
numpy==1.26.4
opencv_python==4.11.0.86
pandas==2.2.3
pyefd==1.6.0
scikit_learn==1.6.1
scipy==1.15.2
scikit-image==0.25.2
tqdm==4.67.1
GPmix==0.1.6
plotly==6.0.0
umap-learn==0.5.7
torch==2.6.0+cu126
torchvision==0.21.0+cu126
--extra-index-url https://download.pytorch.org/whl/test/cu126
pymanopt==2.2.1
autograd==1.7.0
sympy==1.13.1
e2cnn==0.2.3
torchgeometry==0.1.2