imutils==0.5.4
joblib==1.2.0
mahotas==1.4.18
matplotlib==3.6.3
numpy==1.24.3
opencv_python==4.10.0.84
pandas==2.2.0
pyefd==1.6.0
scikit_learn==1.5.2
scipy==1.11.4
skimage==0.24.0
tqdm==4.66.1
